.calculator {
  width: 280px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 12px;
  background: hsl(255, 58%, 54%);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

h1 {
  color: hsl(210, 49%, 79%);
  margin-bottom: 10px;
}

.display {
  height: 50px;
  background: #0f172a;
  color: hsl(210, 28%, 49%);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  background: hsl(217, 94%, 36%);
  color: #9aa0e2;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #2563eb;
}

button:active {
  transform: scale(0.95);
}
